@import "~@flaticon/flaticon-uicons/css/all/all";

.App {
  font-family: 'Kumbh Sans', sans-serif;
  border: 2px solid black;
  padding-top: 70px;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
